@font-face {
    font-family: 'robotoitalic';
    src: url('fonts/roboto-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/roboto-italic-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
  font-family: "robotoregular", serif;
  line-height: 1.5;
  box-sizing: border-box;
  --content-alloc: 69%;
  font-size: 14px;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content {
    width: var(--content-alloc);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    background-color: rgb(236, 236, 240);
    height: 100%;
}

h1 {
    font-size: 40px;
}

.entry {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(247, 247, 251);
    padding: 10px;
    padding-bottom: 20px;
    align-self: center;
    width: max(100%, 400px); /* not best solution */
    justify-content: center;
    padding-left: max(25px, 10%);
}

.input-row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.text-input {
    display: flex;
    flex-direction: column;
    width: min(35%, 20rem);
    height: 19%;
}

.slogan, .message {
    font-size: 22px;
    font-weight: bold;
}

.slogan, .login {
    width: 85%;
}

.left {
    width: calc(100% - var(--content-alloc));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/street-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.form {
    width: 100%;
}

.title {
    color: white;
    font-family: "norsebold", serif;
    font-weight: bold;
    font-size: 7rem;
}

.by {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    position: absolute;
    bottom: 1.5rem;
    width: 10rem;
    background-color: rgba(0, 0, 0, 40%);
    text-align: center;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 40%);
    color: white;
}

input {
  font-family: inherit;
  font-size: 100%;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 3px;
  padding: 0;
  padding-left: 0.5rem;
  margin: 0;
  width: min(16rem, 80%);
  height: 1.8rem;
}

input:focus {
    border: 1px solid rgba(38, 89, 227, 0.651);
    outline: none;
    box-shadow: 1px 1px 5px 1px rgba(48, 48, 48, 0.33);
}